/* main nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
main nav li {
  float: left;
}
h1 {
  text-align: left;
}
main {
  margin-top: 0;
  padding-top: 70px;
} */

@media (min-width: 1020px) {
  #section_1 .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
  }
}
@media (min-width: 1250px) {
  #section_1 .section_wrapper .tekst {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
  }
}
@media (max-width: 1020px) {
  #section_1 .section_wrapper .tekst {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
  }
}
@media (max-width: 600px) {
  #section_1 .section_wrapper .tekst {
    display: grid;
    grid-template-columns: 1fr;
  }
}
#section_1 {
  margin: 3%;
  margin-top: 1%;
}
h1 {
  font-family: "Bungee Inline", cursive;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 2.5rem;
  color: coral;
  font-weight: 100;
}
#section_2 .section_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#section_2 .section_wrapper div {
  width: 350px;
  margin: 1%;
}
#section_2 {
  margin-top: 0;
  margin: 3%;
}
.streg {
  padding: 1%;
  border: dotted 0.3px coral;
}
h2 {
  text-align: center;
  margin-bottom: 2%;
}
main nav {
  position: sticky;
  top: 0%;
  background-color: rgba(255, 255, 255, 0.92);
  margin-top: 0;
  padding-top: 0;
  z-index: 1;
}
